.loading-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: 'Times New Roman', serif;
    
  }
  
  .content {
    z-index: 2;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    letter-spacing: 0.2em;
  }
  
  .subtitle {
    margin-top: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.15em;
  }
  